#content-area{
    overflow: auto;
    background: $offwhite;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}
#filter{
    background: $darkgrey;
    width: 30%;
     text-align: left;
    max-width: 300px;
    display: inline-block;
    float: left; 
    height: 100%;
      select{
        background-color: white;
    }
}
.inside{
    padding: 20px;
    padding-top: 40px;
    max-width: 300px;
}

h4{
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: .9rem;
}
select{
    background: transparent;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 25px;
    width: 100%;
}
 .title{
    font-size: .9rem;
    display: block;
    padding: 10px;
     font-weight: 600;
}
.filters{
   
input[type='text']{
    display: inline-block;
    width: 45%;
    margin-right: 2.5%;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 1rem;
}
    &.extras{
        padding-top: 10px;
    label{
        display: block;
        width: 100%;
        padding: 10px;
        font-size: .9rem;
        input[type='checkbox']{
            float: right;
        }
    }
}
}
.landing{
    height: 95vh;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('https://s3-us-west-2.amazonaws.com/hfc-ad-prod/plan_assets/324990615/large/85141ms_front_1510150207.jpg?1510150207') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    .positioningtext{
        position: absolute;
        letter-spacing: 5px;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
         color: white;
        margin-bottom: 40px;
        font-size: 60px;
        font-weight: 400;
    }
    .sub-positioningtext{
        position: absolute;
        letter-spacing: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
         color: white;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 300;
    }
    .fa-chevron-down{
        color: white;
        position: absolute;
        top: 80%;
        left: 50%;
        cursor:pointer;
    }
  
}
#listings{
    width: 70%;
    display: inline-block;
    padding: 15px;
      .search-area{
        text-align: center;
        input[type='text']{
            width: 80%;
            padding: 5px;
            background: white;
            border: none;
            border-radius: 5px;
            margin-bottom: 20px;
            color: $darkgrey;
            font-size: 2rem;
            padding-left: 10px;
            &::placeholder{
                font-size: 1.1rem;
                color: $darkgrey;
            }
        }
    }
    .sortby-area{
        margin-bottom: 70px;

        .results{
            font-size: .9rem;
            text-align: left;
            color: $darkgrey;
            display: inline-block;
        }
        .sort-options{
            float:right;
            width: 50%;
            select{
                font-size: .9rem;
                font-weight: 300;
                border: 1px solid $darkgrey;
                background: transparent;
                padding: 10px;
                display: inline-block;
                margin-right: 15px;
                width: 61%;
                max-width: 160px;
                background-color: white;
            }
            .view{
                display: inline-block;
                padding-left: 10px;
                   .fas{
                font-size: 1.4rem;
                margin-right: 20px;
                margin-top: 10px;
                cursor: pointer;
            }
            }
        }
    }
}
.listings-results{
    margin-bottom: 60px;
    .listing{
        background: white;
        margin: 20px;
        display: inline-block;
        width: 29%;
        vertical-align: bottom;
        border-radius: 5px;
        -webkit-box-shadow: 0px 10px 22px 8px rgba(224,224,224,.7);
        -moz-box-shadow: 0px 10px 22px 8px rgba(224,224,224,.7);
        box-shadow: 0px 10px 22px 8px rgba(224,224,224,.7);
    }
    .listing-img{
        color: white;
        padding: 15px;
        position: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
        min-height: 200px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .details{
            text-align: center ;
           opacity: 0;
            transition: all .4s ease-in-out;
           padding: 20px;
            font-size: 12px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-top-left-radius: 5px;
        border-top-right-radius: 5px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+60,2989d8+60,2989d8+84,207cca+100 */
            background: rgba(30,87,153,.8); /* Old browsers */
            background: -moz-linear-gradient(-45deg, rgba(30,87,153,.8) 20%, rgba(41,137,216,.8) 60%, rgba(41,137,216,.8) 60%, rgba(41,137,216,.8) 84%, rgba(32,124,202,.8) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(30,87,153,.8) 20%,rgba(41,137,216,.8) 60%,rgba(41,137,216,.8) 60%,rgba(41,137,216,.8) 84%,rgba(32,124,202,.8) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(30,87,153,.8) 20%,rgba(41,137,216,.8) 60%,rgba(41,137,216,.8) 60%,rgba(41,137,216,.8) 84%,rgba(32,124,202,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            .user-img{
                width: 50px;
               background: url('http://arango-architects.com/images/avatar.png') no-repeat center center;
                 -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover; 
                display: inline-block;
                height: 50px;
                border-radius: 50%;
                border: 2px solid white;
                margin-right: 30px;
            }
            .user-details{
                display: inline-block;
                color: rgba(255,255,255,.9);
            }
            .post-date{
                display:block;
                padding: 5px 7px;
                color: rgba(255,255,255,.7);
            }
            .user-name{
                display: block;
                padding: 5px 7px;
            }
            .listing-details{
                margin-top: 50px;
            }
            .floor-space{
                padding-bottom: 20px;
                display: inline-block;
            }
            .bedrooms{
                display: inline-block;
                padding-left: 30px;
            }
            & i{
                padding-right: 10px;
            }
                .view-listing{
                background: black;
                color: white;
                display: block;
                border-radius: 5px;
                margin: 0 auto;
                padding: 10px;
                max-width: 150px;
                cursor: pointer;
                border: none;
                transition: background .3s ease-in-out;
            }
            .view-listing:hover{
                background: $pink;
            }
            .address{
                opacity: 0;
            }
    }
        .details:hover{
            opacity: 1;
        }
        .address{
            position: absolute;
            text-shadow: 0px 1px 1px rgba(91, 91, 91, 1);
            text-transform: capitalize;
            font-size: 15px;
            left: 3%;
            top: 10%;
            color: white;
            font-weight: 600;
            opacity: 1;
            transition: all .3s ease-in-out;
        }
        
}
      .bottom-info{
          height: 60px;
        }
            .bottom-info span{
                padding: 8px 20%;
                text-align: center;
                display: block;
                font-size: 13px;
                color: $darkgrey;
                & i{
                padding-right: 10px;
            }
               
            }
     #rent-price{
                    color: black;
                    text-align: center;
                }
}
#longview{
     width: 40%;
}
.pagination{
     text-align: center;
    .pages{
     -webkit-box-shadow: 0px 10px 22px 8px rgba(224,224,224,1);
        -moz-box-shadow: 0px 10px 22px 8px rgba(224,224,224,1);
        box-shadow: 0px 10px 22px 8px rgba(224,224,224,1);
    display: inline-block;
    background-color: $offwhite;
    margin: 100px auto;
    li{
        display: inline-block;
        padding: 20px 25px;
        cursor: pointer;
    }
    li:hover{
        background: $pink;
        font-weight: 600;
        color: white;
    }
    }
}
footer{
    background: black;
    width: 100%;
    font-size: 0.7rem;
    letter-spacing: 1px;
    section{
        h4{
            text-align: left;
        }
        color: white;
        padding: 20px;
        display: inline-block;
    }
    .mobile{
        width: 70%;
        margin-top: 15px;
        .container{
            display: inline-block;
            width: 50%;
            padding-left: 25px;
            max-width: 335px;
            padding-top: 30px;
        }
        img{
        width: 220px;
        height: 390px;
        float: left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
    }
    }
    .additionalinfo{
        ul{
            li:first-child{
            font-weight: 700;
            font-size: 0.7rem;
        }
            float: right;
            margin: 100px 0;
        }
        float: right;
        width: 30%;
        
        li{
            padding: 8px;
            width: 100%;
            font-size: 0.7rem;
            cursor: pointer;
            a{
                text-decoration: none;
                color: white;
            }
    }
    }
    button{
        float: left; 
        display: inline-block;
            background: black;
                color: white;
                background: $pink;
                display: block;
                border-radius: 5px;
                margin: 12px;
                padding: 10px;
                width: 35%;
                cursor: pointer;
                border: none;
                transition: background .3s ease-in-out;
                i{
            padding-right: 10px;
            float: left;
        }
    }
    .copyrighttext{
        display: block;
        margin-top: 150px;
        font-weight: 600;
        font-size: 0.6rem;
        text-align: left;
    }
}
@media only screen and (max-width: 1150px){
    #longview, #responsivegrid {
     width: 80%;
    margin: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
    .view .fas{
        display: none;
    }
  .landing .positioningtext{
        font-size: 40px;
    }
    .additionalinfo{
        display: none;
    }
    footer .mobile{
        width: 80%;
    }
}
@media only screen and (max-width: 800px){
     #listings{
        width:100%;
    }
   
    .landing .positioningtext{
        font-size: 26px;
         font-weight: 600;
    }
      #responsivegrid {
         width: 40%;
         display: inline-block;
         margin: 20px;
}
    #longview{
        width: 70%;
        margin: 10%;
         display: block;
        margin: 25px auto;
    }
     #filter{
        width: 100%;
    }

    .view{ 
    .fas{
        display: initial;
    }
    }
    #filter{
    background: $darkgrey;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: inline-block;
    float: none;
    .responsiveFilter{
        width: 50%;
        vertical-align: top;
        display: inline-block;
        margin: 0 30px;
        }
}
    .inside{
    padding: 20px;
    padding-top: 40px;
    max-width: 100%;
    text-align: center;
}
    .title{
        text-align: left;
    
}
    footer{
       
    .mobile{
        width: 100%;
         padding: 2px;
        
      .container{
          padding-left: 10px;
          width: 100%;
          button{
              margin: 5px;
          }
        }
    }
    }
}
@media only screen and (max-width: 600px){
    header nav{
        display: none;
    }
 .view .fas{
        display: none;
    }
    #longview, #responsivegrid {
     width: 80%;
    margin: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
    #filter{
        .filters .extras span{
            
        }
input[type='text']{
    display: inline-block;
    width: 75%;
    margin-right: 2.5%;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 1rem;
}
    &.extras{
        padding-top: 10px;
    label{
        display: block;
        width: 100%;
        padding: 10px;
        font-size: .9rem;
        input[type='checkbox']{
            float: right;
        }
    }
}
}
    .inside{
    padding: 0px;
    padding-top: 40px;
    text-align: left;
        h4{
            text-align: center;
        }
}
    #listings{
    .sortby-area{
        margin-bottom: 120px;
        .results{
            font-size: .8rem;
            text-align: left;
            display: block;
            padding: 10px;
        }
        .sort-options{
            display: block;
            width: 70%;
            float: right;
            padding-top: 20px;
            select{
                display: block;
            }
    
    }
    }
    }
    .pagination .pages{
        li{
            padding: 20px 10px;
        }
    }
    footer img{
        display: none;
    }
    .container{
        padding: 40px;
    }
    .mobile{
        text-align: center;
    }
}
@media only screen and (max-width: 300px){

    .landing .positioningtext{
        font-size: 20px;
         font-weight: 600;
    }
    #filter{
        input[type='select']{
           font-size: .8rem;
        }
    }
  #listings{
      button{
          display: none;
      }
      .listings-results{
          .listing{
          width: 100%;
      }
      }
    .sortby-area{
        .sort-options{
            width: 100%;
    }
    }
      .pagination{ 
        display: none;
    }
}
}

